body {
    margin: 0;
    background-color: #000;
}

.header-list {
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    background-color: #121212;
    color: #c5c5c5;
    font-family: 'Quintessential', cursive, serif;
}

.header-icons:hover {
    opacity: 0.3;
}

.name {
    font-size: 60px;
    font-weight: bold;
    display: flex; 
    justify-content: center;
    align-items: center;
    color: #c5c5c5;
    height: 150px;
    font-family: 'Quintessential', cursive, serif;
}

.boxes {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: url("marcus-aurelius-4-640x320.png");
    opacity: 0.3;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    height: 260px;
    width: 800px;
    color: #fff;
    padding: 30px;
    opacity: 0.91;
    font-size: 25px;
}


